name: Tests unitaire Python
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  unit-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-html
    
    - name: Run tests and generate HTML report
      run: |
        pytest src/test_calculatrice.py
      env:
        CI: true

  documentation:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install Doxygen
      run: sudo apt-get install doxygen -y

    - name : Install Dot
      run : sudo apt-get install graphviz -y

    - name: Generate Documentation
      run: doxygen conf/Doxyfile

    - name: Deploy Documentation
    
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./documentation/html